main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2.5rem;
}

#card-1 {
  background-color: var(--orange);
  border-radius: 1rem 1rem 0rem 0rem;
}

#card-2 {
  background-color: var(--cyan);
  border-radius: 0rem;
}

#card-3 {
  background-color: var(--cyan-dark);
  border-radius: 0rem 0rem 1rem 1rem;
}

.card-title {
  font-size: 2rem;
  margin: 2rem 0rem;
  color: var(--gray-light);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}

.card-description {
  color: var(--trans-white);
  font-size: 1.1rem;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.8rem;
}

.btn-1 {
  color: var(--orange)
}

.btn-2 {
  color: var(--cyan)
}

.btn-3 {
  color: var(--cyan-dark)
}

.btn-learn-more {
  border: 0px;
  background-color: var(--gray-light);
  border-radius: 25px;
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem 2rem;
  font-family: 'Lexend Deca', sans-serif;
  border: 2px solid var(--trans-white);
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    flex-direction: row;
    width: 70%;
  }

  #card-1 {
    border-radius: 1rem 0rem 0rem 1rem;
  }

  #card-2 {
    border-radius: 0rem;
  }

  #card-3 {
    border-radius: 0rem 1rem 1rem 0rem;
  }

  .card-title {
    letter-spacing: .1rem;
  }

  .btn-learn-more {
    margin: 6rem 0rem 0rem 0rem;
    cursor: pointer;
  }

  .btn-learn-more:hover {
    border: 2px solid var(--trans-white);
    color: var(--trans-white);
  }

  .btn-1:hover {
    background-color: var(--orange);
  }

  .btn-2:hover {
    background-color: var(--cyan);
  }

  .btn-3:hover {
    background-color: var(--cyan-dark);
  }
}